*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;
  --title-family: 'Montserrat', sans-serif;
  --text-family: 'DM Sans', sans-serif;
}

body{
  background-image: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
}

.card{
  background-color: white;
  margin: 0 auto;
  width: 42rem;
  height: 27rem;
  padding: 5.6rem 6.4rem;

  text-align: center;
}

.card h1{
  font: 600 2.4rem var(--title-family);
  color: #34355B;
  line-height: 3rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

.card p{
  font: 400 1.6rem var(--text-family);
  color: #34355BCC;
  line-height: 2.4rem;
}